[user]
	email = robert@digitalasset.com
	name = Robert Fajta
[color]
	ui = true
[alias]
	a = add
	co = checkout
	c = commit
	d = --no-pager diff
	s = !~/bin/gitstatus.sh
	com = !~/bin/gitcheckout.sh -m
	ac = !~/bin/gitadd.sh -m
	au = !~/bin/gitadd.sh -u
	ds = !~/bin/gitdiff.sh -s
	dm = !~/bin/gitdiff.sh -m
	du = !~/bin/gitdiff.sh -u
	da = !~/bin/gitdiff.sh -a
	dws = !~/bin/gitdiff-w.sh -s
	dwm = !~/bin/gitdiff-w.sh -m
	dwu = !~/bin/gitdiff-w.sh -u
	dwa = !~/bin/gitdiff-w.sh -a
	pop = stash pop
	nstash = stash save
	r = !~/bin/gitreset.sh -s

[core]
	editor = emacs
	excludesfile = /Users/robertfa/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[push]
	default = simple
