[Desktop Entry]
Name=Play/Pause Music
Exec=/home/mu/bin/startAudaciousIfNotRunning.sh stop
Comment=Play/Pause Music
Terminal=false
Type=Application
Icon=/home/mu/.local/share/applications/stop.png
